<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
  th:fragment="layout(title, content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:replace="${title}">EventHub</title>
    <link rel="stylesheet" th:ref="@{/styles.css}" />
  </head>
  <body>
    <!-- Shared header -->
    <header th:replace="components/header :: head"></header>

    <!-- Page content -->
    <main class="container" th:replace="${content}"></main>

    <!-- shared footer -->
    <footer th:replace="components/footer : footer"></footer>
  </body>
</html>
