<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <body>
    <footer th:fragment="footer">
      <div class="footer-lite">
        <div class="social">
          <span>𝕏</span><span>📷</span><span>▶️</span><span>💼</span>
        </div>
        <div class="footer-links">
          <div>
            <strong>About us</strong>
            <a href="#">Our Story</a>
          </div>
          <div>
            <strong>Explore</strong>
            <a href="#">Events</a>
          </div>
          <div>
            <strong>Resources</strong>
            <a href="#">Blog</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
