<div th:fragment="rsvpForm">
  <form id="rsvpForm" th:action="@{'/rsvp/' + ${userId} + '/event/' + ${event.eventId} + '/confirm'}" 
                      th:object="${event}" 
                      method="post"
                      onsubmit="return confirm('Are you sure you want to submit your RSVP?');">
    <input type="hidden" th:field="*{eventId}" />
    <div class="formFields">
      <div class="formTitle formTitle-center">
        <h1 th:text="'Event Information'"></h1>
      </div>

      <div>
        <label for="name">Event Name</label>
        <input
          type="text"
          id="name"
          th:field="*{name}"
          required
          minlength="2"
          maxlength="30"
          disabled
        />
      </div>

      <div>
        <label for="desc">Description</label>
        <input
          type="text"
          id="desc"
          th:field="*{desc}"
          required
          minlength="2"
          maxlength="75"
          disabled
        />
      </div>

      <div>
          <label for="dateTime">Date and Time</label>
          <input type="datetime-local" id="dateTime" name="dateTime"
          th:value="${formattedDateTime}"required disabled>
      </div>

      <div>
        <label for="location">Location</label>
        <input
          type="text"
          id="location"
          th:field="*{location}"
          required
          minlength="2"
          maxlength="40"
          disabled
        />
      </div>
      <div>
        <label for="capacity">Capacity</label>
        <input type="text" id="capacity" th:field="*{capacity}"required disabled/>
      </div>

      <div>
        <label for="price">Price</label>
        <input type="text" id="price" th:field="*{price}" step="any" required disabled/>
      </div>

    </div>
      <div class="saveEvent">
        <a th:href="@{/}"> Cancel </a>
        <button type="submit" th:text="'Submit'">Submit</button>
      </div>
    <div class="confirmationMsg">
      <p th:if="${confirmation}" th:text="${confirmation}"></p>
    </div>
  </form>

</div>




